<h1>Account Information</h1>

<p>First Name: <%= current_user.firstname %></p>
<p>Last Name: <%= current_user.lastname %></p>
<p>Email Address: <%= current_user.email %></p>

<%= link_to 'Back', posts_path %>
